<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Sign Log Up" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<% if user_signed_in? %>
  Are you admin? <%= current_user.has_role?(:admin) %>
  <%= current_user.roles.pluck(:name).join(", ") %>
  
  <%= link_to "Home", root_path, class: "#{ 'font-weight-bold' if current_page?(root_path) }" %> |
  <%= link_to current_user.email, edit_user_registration_path, class: "#{ 'font-weight-bold' if current_page?(edit_user_registration_path) }" %> |
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path, class: "#{ 'font-weight-bold' if current_page?(new_user_session_path) }" %>
<% end %>

<hr>

<%= yield %>

  </body>
</html>
